*/node_modules
/client.properties
*/env
*/processed_files
*/temp_files
*/.terraform
*/.terraform.lock.hcl
*/kafka_consumer.log
*/key.json
*/search_index_output
*/mapreduce_test
*/__pycache__
*/terraform.tfstate
*/terraform.tfstate.backup
